<!DOCTYPE html>
<html>

    <head>
        <title>Landmark Edit page</title>
    </head>

    <body>
      <h1>Current landmark information</h1>

      <h3>Name: <%= @landmark.name %></h3>
      <h3>Year Completed: <%= @landmark.year_completed %></h3>

      <form>
        <input type="hidden" name="_method" id="hidden" value="patch">
        
        <h1>Update landmark information</h1>

        <p><label for="landmark[name]">New Name:</label></p>
        <p><input type="text" name="name" id="landmark[name]"></p>

        <p><label for="landmark[year_completed]">New year completed:</label></p>
        <p><input type="text" name="year_completed" id="landmark[year_completed]"></p>

        <input type="submit" value="Edit Landmark">
      </form>

    </body>
</html>