<!DOCTYPE html>
<html>

    <head>
        <title>Landmark page</title>
    </head>

    <body>
      <h1>Landmark information</h1>
      <h3>Landmark: <%= @landmark.name %></h3>
      <h3>Year Completed: <%= @landmark.year_completed %></h3>

    </body>
</html>